.d-none {
  display: none !important;
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
}

.board h1 {
  font-size: 60px;
}

#boardSearch-input {
  outline: 0;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 25px;
  background-position: right center;
  position: relative;
}

.search-icon {
  position: relative;
  right: 35px;
  top: 5px;
}

#addTask-btn {
  all: unset;
  cursor: pointer;
  background-color: #2a3647;
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
  font-weight: bold;
}

#addTask-btn:hover {
  background-color: #03a9f4;
  transition: all 0.3s ease-in-out;
}

.all-tasks-contnet {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 8%;
  padding-right: 8%;
  position: relative;
}

.todo-content {
  display: flex;
  margin-top: 10px;
}

.todo {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.create-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-content {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  padding: 18px 19px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.todo-content:hover {
  transition: all 0.3s ease-in-out;
  transform: rotate(1deg);
}

.create-todo span {
  font-size: 25px;
  font-weight: bold;
  border: 2px solid #2a3647;
  padding: 2px 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.create-todo span:hover {
  transition: all 0.3s ease-in-out;
  border: 2px solid #03a9f4;
  color: #03a9f4;
}

.category {
  background-color: #ff7a00;
  color: black;
  color: #fff;
  width: 90px;
  padding: 5px 15px;
  border-radius: 8px;
  text-align: center;
}

.todo-content p {
  color: #a8a8a8;
}

.progress-bar-container {
  display: flex;
}

label {
  margin-left: 50px;
}

.box-footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-images-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.footer-images-container img {
  margin-top: -2px;
}

.footer-circels {
  display: flex;
}

.footer-circels span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa800;
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #fff;
  text-align: center;
}
/* 
.footer-circels span:nth-child(2) {
  background-color: #9327ff;
  padding: 8px;
  border-radius: 100%;
  color: #fff;
} */

.footer-circels span:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a3647;
  padding: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
}

.box-footer span {
  margin-left: -12px;
}

#form {
  width: 60%;
  z-index: 999;
  position: absolute;
  top: 15%;
}

/* Task Deatais Popup */
.task-popup {
  width: 500px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.cancel-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cancel-container img {
  cursor: pointer;
}

.prio-container-popup {
  display: flex;
  align-items: center;
}

#prio-status {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  width: 80px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#prio-icon {
  filter: brightness(0) invert(1);
}

/* Task Deatais Popup */
