.d-none {
  display: none !important;
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
}

.board h1 {
  font-size: 60px;
}

#boardSearch-input {
  outline: 0;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 25px;
  background-position: right center;
  position: relative;
}

.search-icon {
  position: relative;
  right: 35px;
  top: 5px;
}

#addTask-btn {
  all: unset;
  cursor: pointer;
  background-color: #2a3647;
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
  font-weight: bold;
}

#addTask-btn:hover {
  background-color: #03a9f4;
  transition: all 0.3s ease-in-out;
}

.all-tasks-contnet {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 8%;
  padding-right: 8%;
}

.todo-content {
  display: flex;
}

.todo {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.create-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-content {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  padding: 18px 19px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.todo-content:hover {
  transition: all 0.3s ease-in-out;
  transform: rotate(1deg);
}

.create-todo span {
  font-size: 25px;
  font-weight: bold;
  border: 2px solid #2a3647;
  padding: 2px 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.create-todo span:hover {
  transition: all 0.3s ease-in-out;
  border: 2px solid #03a9f4;
  color: #03a9f4;
}

.todo-content span:first-child {
  background-color: #ff7a00;
  color: #fff;
  width: 65px;
  padding: 5px 15px;
  border-radius: 8px;
  text-align: center;
}

.todo-content p {
  color: #a8a8a8;
}

.progress-bar-container {
  display: flex;
}

label {
  margin-left: 50px;
}

.box-footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-images-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.footer-images-container img {
  margin-top: -2px;
}

.footer-circels span:first-child {
  background-color: #ffa800;
  padding: 8px;
  border-radius: 100%;
  color: #fff;
}

.footer-circels span:nth-child(2) {
  background-color: #9327ff;
  padding: 8px;
  border-radius: 100%;
  color: #fff;
}

.footer-circels span:last-child {
  background-color: #2a3647;
  padding: 8px;
  color: #fff;
  border-radius: 100%;
}

.box-footer span {
  margin-left: -12px;
}

/* Task Form Style */
.addtask-content {
  display: flex;
  position: relative;
  top: -35%;
  left: -7%;
}

.leftside-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #f6f7f8;
  padding-left: 8%;
  padding-right: 5%;
}

.rightside-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60vh;
  background-color: #f6f7f8;
  padding-right: 8%;
  padding-left: 5%;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.title-container input {
  height: 4vh;
}

.description-container {
  display: flex;
  flex-direction: column;
}

.description-container input {
  height: 10vh;
}

.category-container {
  display: flex;
  flex-direction: column;
}

.date-container {
  display: flex;
  flex-direction: column;
}

.date-container input {
  height: 4vh;
}

.prio-container {
  display: flex;
  flex-direction: column;
}

.prio-container button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4vh;
  width: 10vh;
  border-radius: 10px;
  background-color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.subtasks-container {
  display: flex;
  flex-direction: column;
}

.subtasks-container input {
  height: 4vh;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-container-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 170px;
  margin-left: 80px;
}

.button-container-end button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 150px;
  border-radius: 10px;
}

.middleline {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 999;
  height: 65%;
  width: 1px;
  right: 50%;
  top: 5%;
}

input {
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.2);
}

select {
  border-radius: 10px;
  height: 4vh;
  color: rgba(0, 0, 0);
}

option {
  border-radius: 10px;
  height: 4vh;
}

.clear-button {
  background-color: white;
}

.clear-button:hover {
  border-color: #29abe2;
  transition: all 0.3s ease-in-out;
}

.create-button {
  background-color: #2a3647;
  color: white;
}

.create-button:hover {
  background-color: #29abe2;
  border-color: #29abe2;
  transition: all 0.3s ease-in-out;
}

/* //Task Form Style// */
