.header-container{
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

.icons-header{
    display: flex;
    align-items: center;
}

.icons-header a{
    display: block;
    height: 30px;
    width: 30px;
}

.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

.white {
    background-color: white;
    height: 60px;
}

.header-logo{
    display: none;
    height: 70px;
    width: 60px;
}