.legalcontent {
    padding-left: 8%;
    padding-right: 8%;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.legalHeadline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img:hover {
    cursor: pointer;
    }