body {
    margin: 0;
    font-size: 0.7rem;
    animation-name: fadeIn;
    animation-duration: 900ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;

    }

}

.header {
    position: relative;
    height: 20vh;
    background-color: lightgrey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
}

.header p {
    margin-right: 20px;
}


.logo-animation {
    padding-left: 10%;
    position: absolute;
    top: 0;
    margin-top: 1rem;
    width: 70px;
    animation-name: logoToLeft;
    animation-duration: 450ms;
    animation-timing-function: linear;
    z-index: 999;

}

.logo-animation img{
    margin-left: 10%;
}

@keyframes logoToLeft {
    0% {
        left: 50%;
        top: calc(50% + 10vh);
        transform: translate(-50%, -50%);
        transform: scale(3);
        padding-left: 0%;
    }

    50% {
        left: 25%;
        top: 25%;
        transform: scale(2);
        padding-left: 0%;
    }

    100% {
        left: 0px;
        top: 0px;
        transform: scale(1);
        padding-left: 10%;
    }
}

.relative{
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-color: white;
    animation-name: loadIndexBG;
    animation-duration: 460ms;
    display: none;
}


@keyframes loadIndexBG{
    0% {
        background-color:#4589FF;
        z-index: 50;
        display: flex;
    }
    25% {
        background-color:#4589FF;
    }

    50% {
        background-color:#4589FF;

    }

    75% {
        background-color: #4589FF;

    }

    100% {
        background-color: white;
    }
}

/* .relative{
    position: absolute;
} */

.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    height: 80vh;
}

.loginform {
    position: relative;
    border-radius: 30px;
    border: 1px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 15px;

}

.loginform a {
    text-decoration: none;
}

.loginform form {
    display: flex;
    flex-direction: column;
}

.logincontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input {
    border-radius: 10px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
}

.input img {
    width: 20px;
    height: 20px;
}

.input input {
    border: 0;
    width: 100%;
}

.login-btn {
    border: 1px solid #2A3647;
    background-color: #2A3647;
    color: white;
    border-radius: 8px;
    padding: 5px;
}

.guest-btn {
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
}