@media (max-width: 575.98px) {
    .board{
        flex-direction: column;
        align-items: center;
    }

    .board div {
        display: flex;
        flex-direction: column;
    }

    .board div img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 767.98px) {
    .maincontainer {
        flex-direction: column-reverse;
    }

    .logo,
    .legal {
        display: none;
    }

    .aside {
        min-height: 0;
        width: 100%;
    }

    .links-container {
        flex-direction: row;
        padding: 0px;
        justify-content: space-evenly;
    }

    .links-container a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .links-container img {
        padding: 10px;
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

}

@media (max-width:850px){
    .searchfield {
        flex-direction: column;
        align-items: center;
        gap: 5px
    }

    .search-icon {
        right: 15px;
    }


    

}



@media (max-width: 991.98px) { 

    .all-tasks-contnet {
        justify-content: center;
        flex-direction: column;
    }

    .todo-content {
        width: 80%;
    }

    .box-footer :first-child {
        padding-left: 20px;
    }

    .box-footer :nth-child(2) {
        margin-right: 100px;
    }

   .addtask-content {
    flex-direction: column;
    align-items: center;
   }

   .leftside-content div + input, .rightside-content div + input {
    width: 100%;
   }

   .leftside-content, .rightside-content {
    padding-left: 8%;
    padding-right: 8%;
    
   }

   .headline-addtask {
    justify-content: center;
    padding-left: 0;
   }


   .middleline {
    display: none;
   }
 }

 