<img src="./assets/img/logo.png" class="logo" alt="logo">


<div class="container links">


    <div class="links-container">
        <a href=""><img src="/assets/img/summary.png" alt="summary"><span>Summary</span></a>
        <a href=""><img src="./assets/img/board.png" alt="board"><span>Board</span></a>
        <a href=""><img src="./assets/img/addtask.png" alt="add_task"><span>Add Task</span></a>
        <a href=""><img src="./assets/img/contacts.png" alt="contacts"><span>Contacts</span></a>
    </div>
</div>
<div class="container legal">
    <a href=""><img src="./assets/img/legal.png" alt=""><span>Legal notice</span></a>

</div>

